div{
  font-family: 'Tillana', cursive;
}

.square{
    width:100px;
    height:100px;
}

.v{
    border-left:4px solid #000;
    border-right:4px solid #000;
}

.h{
    border-top:4px solid #000;
    border-bottom:4px solid #000;
}

#littleButton {
  text-align:center;
  background-color: #ff0000;
  color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 90px;
  height: 90px;
}
